<%= stylesheet_link_tag    "student", "user" %>

<h1 style="padding-left:20px;"> Conference Calls of Every User </h1>

<% if @videochats.length > 0 %>
<div class="content-backdrop">
	<div class="content">
		<div class="content-inner">
			<div id="invites-availability">
				<div class="row">
					<div class="week span6">
						<% @videochats.each do |current_chat| %>
							<div class="pool-con larger-button">
								<a href="/student/conference?sessionID=<%=current_chat.session_id%>&token=<%=current_chat.session_token%>" class="btn btn-large btn-success"><%= Student.find_by_id(current_chat.student_id).full_name %> on 
								<small>
								<%=current_chat.date.to_datetime.strftime("%A, %B %e AT %l:%M %p")%>
								</small>
								</a>
							</div>
						<% end %>


					</div>
					<div class="week-end">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% else %>
	<br/>
	<p> None of the users have scheduled conference calls. </p>
<% end %>





