 <%= stylesheet_link_tag    "user" %>

<div class="container">
<div class = "form">
	<h2> Login to your account </h2>
	<!-- Show errors -->
	<% if flash[:notice] then %>
		<ul>
			<% flash[:notice].each do |current_message| %>
				<li> <%= current_message %> </li>
			<% end %>
		</ul>
	<%end %>
	<!-- Display form for login -->
	<%= form_for(:user, :url => {:action => :post_login}) do |form| %>
		<table>
			<tr>
				<td class="form_label">
					<label> Email </label>
				</td>
				<td>
					<%= form.text_field(:login) %>
				</td>
			</tr>
			<tr>
				<td class="form_label">
					<%= form.label :password %>
				</td>
				<td>
					<%= form.password_field :password %>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
				<%= submit_tag "Submit" %>
			</td>
			</tr>
		</table>
	<% end %>
	<p> If you don't have an account, <a class="content_link" href="/user/register/"> Register </a> </p>
</div>
</div>