<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= @title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Using Chativy, you can get hours of live and direct help through your entire application process. Getting real help from Stanford students can significantly increase your chances of getting into a top university, which will make a big positive impact on your future.">
  <meta name="author" content="Deniz Kahramaner (dennizk@gmail.com)">
  <%= stylesheet_link_tag    "bootstrap", "bootstrap-responsive", "typica" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navbar' %>
	<!-- Navigation bar code END -->
	<%= yield %>
	<div style="clear:both; border-top: solid 1px #cccccc; padding: 20px;"> 
        © Chativy 2013
      </div>
      <%= javascript_include_tag "jquery", "bootstrap", "plugins", "setup" %>
</body>
</html>

